@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

html,
body {
  height: 100%;
  text-align: center;
}
img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}

.form-error {
  color: #bf1650;
}

.form-error::before {
  display: inline;
  content: "⚠ ";
}
